<div class="w-full flex items-center gap-5 pl-5 bg-gradient-to-r from-custom-pink from-10%  to-dark-blue to-30% ">
  <img src="assets/NGLoc_LOGO_V2-remove-wt-bg.png" class="w-1/12">
  <h1 class="text-4xl font-semibold text-white">Gestionnaire de données</h1>
</div>

<div class="flex flex-col h-screen text-white absolute bg-gradient-to-b from-custom-pink from-10%  to-dark-blue to-30%  justify-between w-40">
  <div class="flex w-full flex-col justify-center items-center gap-20 font-semibold text-2xl pt-10">
    <p class="w-full text-center p-1 hover:bg-primary-color hover:bg-opacity-25 duration-300 cursor-pointer" routerLink="/marques">Marques</p>
    <p class="w-full text-center p-1 hover:bg-primary-color hover:bg-opacity-25 duration-300 cursor-pointer">Modeles</p>
    <p class="w-full text-center p-1 hover:bg-primary-color hover:bg-opacity-25 duration-300 cursor-pointer">Réservations</p>
    <p class="w-full text-center p-1 hover:bg-primary-color hover:bg-opacity-25 duration-300 cursor-pointer">Utilisateurs</p>
    <p class="w-full text-center p-1 hover:bg-primary-color hover:bg-opacity-25 duration-300 cursor-pointer">Agences</p>
  </div>

  <div class="w-full flex justify-center bg-custom-pink text-white text-2xl h-16 hover:bg-primary-color duration-300 cursor-pointer">
    <button>Déconnexion</button>
  </div>
</div>


